.text-field
  = form.label :email, class: "block text-sm font-medium text-gray-700 dark:text-gray-300"
  = form.email_field :email, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"

.password-field
  = form.label :password, class: "block text-sm font-medium text-gray-700 dark:text-gray-300"
  = form.password_field :password, class: "mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"

